@use "./utils/vars";
@use "./utils/general";
@use "./components/header";
@use "./components/logo";
@use "./components/_mobile-menu";
@use "./components/hero";
@use "./components/atuts";
@use "./components/_social-button";
@use "./components/our-work";
@use "./components/team";
@use "./components/customers";
@use "./components/footer";
@use "./components/modal";
@use "./components/portfolio-buttons";
@use "./components/portfolio-projects";
