@use "../utils/general";
@use "../utils/vars";

.customer {
  margin-bottom: 94px;

  &__box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-top: 50px;
    gap: 30px;
    @extend .container;
  }

  &__icon {
    fill: $icon-color;
    width: 106px;
    height: 60px;
  }

  &__icon-box {
    width: 210px;
    height: 92px;
    border: 1px solid $icon-color;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon-box:hover,
  &__icon-box:focus,
  &__icon-box:active {
    border: 1px solid $primary-color;
    fill: $primary-color;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icon-box:hover .customer__icon,
  &__icon-box:focus .customer__icon,
  &__icon-box:active .customer__icon {
    fill: $primary-color;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media (min-width: $tablet-size) {
  .customer {
    margin-bottom: 94px;
  }
  .customer__box {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .customer__icon-box {
    width: 226px;
  }
}

@media (min-width: $desktop-size) {
  .customer__box {
    flex-direction: row;
  }
  .customer__icon-box {
    width: 170px;
  }
}
