.hero {
  background-image: url("../images/color_home.png"),
    url("../images/background_home.jpg");
  background-position: center;
  background-size: cover;
  height: 400px;
  max-width: 480px;
  margin: auto;

  &__slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    @extend .container;
  }

  &__title {
    font-weight: 900;
    font-size: 1.625rem;
    line-height: 1.61;
    text-align: center;
    color: $white-color;
    width: 288px;
    height: 126px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-top: 118px;
  }

  &__button {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.87;
    color: $white-color;
    background: $primary-color;
    border: $primary-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    margin-top: 30px;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media (min-width: $desktop-size) {
  .hero {
    background-image: url("../images/color_home.png"),
      url("../images/background_home.jpg");
    max-width: 1600px;
    height: 600px;

    &__title {
      width: 696px;
      height: 120px;
      font-size: 2.75rem;
      margin-top: 200px;
    }
  }
}
