@use "../utils/general";
@use "../utils/vars";

.backdrop {
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transition-duration: 500ms;
  transition-timing-function: ease;
}

.modal {
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  &__close-btn {
    width: 30px;
    height: 30px;
    background: $white-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 50%;
    margin-top: 8px;
    margin-left: 490px;
    top: 8px;
    right: 8px;
    cursor: pointer;
  }

  &__name {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin: 2px 40px 12px 40px;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 40px;
  }

  &__label-description {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__form-icon {
    fill: $dark-grey;
    position: absolute;
    bottom: 11px;
    left: 15px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__form-description {
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 11px 12px 11px 42px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__form-comment {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.17;
    letter-spacing: 0.01em;
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    padding: 12px 16px;
    outline: none;
  }

  &__statute {
    margin-top: 20px;
  }

  &__statute-form {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__statute-form--checkbox {
    fill: $white-color;
    border: 2px solid $black-color;
    border-radius: 2px;
    width: 16px;
    height: 15px;
    appearance: none;
    margin-left: 15px;
    margin-right: 8px;
  }

  &__statute-form-checkbox--icon {
    position: absolute;
    left: 15px;
    bottom: 4.5px;
    opacity: 0;
    border-radius: 2px;
  }

  &__statute-info {
    font-weight: 400;
    font-size: 0.87rem;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $light-grey;
  }

  &__statute-link {
    text-decoration: underline;
    color: $primary-color;
  }

  &__btn--statute {
    font-weight: 700;
    font-size: 16px;
    color: $white-color;
    background-color: $primary-color;
    outline: none;
    border: none;
    border-radius: 4px;
    letter-spacing: 0.06em;
    width: 200px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    margin-bottom: 40px;
    margin-left: 124px;
    margin-top: 30px;
    padding: 0;
  }

  &__form-description:required {
    border-color: red;
  }

  &__statute-form--checkbox:required {
    border-color: red;
  }

  &__statute-form--checkbox:checked + .modal__statute-form--checkbox-icon {
    background-color: $primary-color;
    border-color: $primary-color;
    fill: $white-color;
    opacity: 1;
  }

  &__label-description:focus-within .modal__form-description {
    border-color: $primary-color;
  }

  &__label-description:focus-within .modal__form-icon {
    fill: $primary-color;
  }

  &__label-description:focus-within .modal__form-comment {
    border-color: $primary-color;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
