@use "../utils/general";
@use "../utils/vars";

.our-work {
  margin-top: 94px;
  @extend .container;
  &__container {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    padding: 0%;
  }

  &__image {
    width: 370px;
    height: 294px;
    position: relative;
    z-index: 4;
  }

  &__title-box {
    width: 370px;
    height: 70px;
    background: $background-dark-transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    color: $white-color;
    text-transform: uppercase;
  }
}

@media (max-width: $desktop-size) {
  .our-work--active {
    display: none;
  }
}
