@use "../utils/general" as *;
@use "../utils/vars" as *;

.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 50px 0 94px;
  @extend .container;
  &__image-box {
    width: 370px;
    height: 404px;
    background: $white-color;
    border: 1px solid $border-color;
    list-style: none;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }

  &__project-name {
    width: 370px;
    height: 113px;
    padding: 1px 20px;
    position: relative;
    background: $white-color;
    top: -5px;
  }

  &__name {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.18;
    margin-top: 30px;
  }

  &__department {
    font-size: 1rem;
    line-height: 1.18;
    color: $light-grey;
  }

  &__image-box:focus,
  &__image-box:hover {
    background: #ffffff;
    border: 1px solid #eeeeee;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    transition-property: background, border, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__image-box:hover .portfolio__box-hover::before {
    transform: translateY(0%);
  }

  &__box-hover::before {
    content: "Technocrack jest popularną platformą wykorzystywaną do rozpowszechniania koronawirusa. Firmy wykorzystują tę platformę do celów szpiegowskich i ataków na niezabezpieczone serwery konkurencji";
    letter-spacing: 0.03em;
    color: #ffffff;
    font-size: 1.2;
    line-height: 1.5;
    padding: 49px 45px 49px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 294px;
    position: absolute;
    background: rgba(33, 150, 243, 0.9);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform-origin: bottom;
  }
}
