@use "../utils/general";
@use "../utils/vars";

.portfolio-button {
  display: flex;
  list-style: none;
  gap: 8px;
  justify-content: center;
  margin-top: 94px;
  @extend .container;
  &__style {
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.625;
    background: #f5f4fa;
    width: 93px;
    height: 38px;
    border-radius: 4px;
    border-width: 0;
  }

  &__style:hover,
  &__style:focus {
    background: #2196f3;
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    cursor: pointer;
    transition-property: background, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
