.team {
  height: 708px;
  background: $beige;
  margin-top: 94px;

  &__box {
    display: flex;
    list-style: none;
    margin-top: 50px;
    gap: 30px;
    @extend .container;
  }

  &__image {
    width: 270px;
    height: 428px;
    background: $white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.18;
    text-align: center;
    margin-top: 30px;
  }

  &__departament {
    font-size: 1rem;
    line-height: 1.18;
    color: $light-grey;
    text-align: center;
  }
}
