@use "../utils/general" as *;
@use "../utils/vars" as *;

.team {
  height: auto;
  background: $beige;
  margin-top: 94px;
  padding-bottom: 60px;

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin-top: 50px;
    gap: 30px;
    @extend .container;
  }

  &__image {
    width: 270px;
    height: 428px;
    background: $white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    display: flex;
    flex-direction: column;
  }

  &__image-place {
    width: 100%;
    display: block;
    height: auto;
  }

  &__name {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.18;
    text-align: center;
    margin-top: 30px;
  }

  &__departament {
    font-size: 1rem;
    line-height: 1.18;
    color: $light-grey;
    text-align: center;
  }
}

@media (min-width: $tablet-size) {
  .team {
    height: auto;
  }
  .team__box {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .team__image {
    width: 354px;
    height: 536px;
    justify-content: center;
  }

  .team__image-place {
    width: 100%;
    display: block;
    height: auto;
    margin-top: -35px;
  }

  .team__departament {
    margin-top: 10px;
  }

  .social__icon-flex {
    margin-top: 16px;
  }
}

@media (min-width: $desktop-size) {
  .team {
    height: auto;
  }
  .team__box {
    flex-direction: row;
  }
  .team__image {
    width: 270px;
    height: 428px;
  }

  .team__image-place {
    margin-top: -10px;
  }
}
