@use "vars" as vars;

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 480px;
  @include vars.media-tablet {
    max-width: 768px;
  }
  @include vars.media-desktop {
    max-width: 1200px;
  }
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

ul,
h1,
h2,
h3,
h4,
p,
figure {
  margin: 0;
  padding: 0;
}

img,
svg {
  vertical-align: middle;
}

.section {
  padding: 0;
}

a {
  text-decoration: none;
}
.title-image {
  text-align: center;
  padding-top: 94px;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.16;
  text-align: center;
}
