$primary-color: #2196f3;
$black-color: #000;
$dark-grey: #212121;
$white-color: #fff;
$light-grey: #757575;
$navy-blue: #2f303a;
$black-rock: #2f303a;
$beige: #f5f4fa;
$background-dark-transparent: #2f303a66;
$icon-color: #afb1b8;
$border-color: #eeeeee;
$min-size: 320px;
$mobile-size: 480px;
$tablet-size: 768px;
$desktop-size: 1200px;

@mixin media-mobile {
  @media (min-width: 480px) {
    @content;
  }
}

@mixin media-mobile-max {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin media-mobile-tab {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin media-tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin media-tablet-range {
  @media (min-width: 768px) and (max-width: 1199px) {
    @content;
  }
}

@mixin media-tablet-max {
  @media (max-width: 1199px) {
    @content;
  }
}

@mixin media-desktop {
  @media (min-width: 1200px) {
    @content;
  }
}
